In [0]:
%spark
val bots_p=spark.read.parquet("/user/root/ROM/parquet/bots.parquet")
bots_p.write.saveAsTable("BOTS_P")
AIRLINE_ID.csv

In [1]:
%spark
val ref_AIRL_ID=spark.read.option("inferSchema",true).option("header",true).csv("/user/root/ROM/ref/csv/AIRLINE_ID.csv")
val ref_AIRP_ID=spark.read.option("inferSchema",true).option("header",true).csv("/user/root/ROM/ref/csv/AIRPORT_ID.csv")
ref_AIRL_ID.write.parquet("/user/root/ROM/parquet/ref_AIRL_ID.parquet")
ref_AIRP_ID.write.parquet("/user/root/ROM/parquet/ref_AIRP_ID.parquet")

In [2]:
%spark
val ref_AIRL_ID_p=spark.read.parquet("/user/root/ROM/parquet/ref_AIRL_ID.parquet")
ref_AIRL_ID_p.write.saveAsTable("ref_AIRL_ID")
val ref_AIRP_ID_p=spark.read.parquet("/user/root/ROM/parquet/ref_AIRP_ID.parquet")
ref_AIRP_ID_p.write.saveAsTable("ref_AIRP_ID")

In [3]:
%spark
val sqlDF = spark.sql("SELECT * FROM ref_AIRP_ID")
sqlDF.show()

In [4]:
%spark


val jointure=spark.sql("SELECT BOTS_P.flightDate, ref_AIRP_ID.Description as Airport, ref_AIRL_ID.Description as Airline FROM BOTS_P, ref_AIRP_ID, ref_AIRL_ID where BOTS_P.OriginAirportID=ref_AIRP.code and BOTS_P.REporting_Airline=ref_AIRL.code")

In [5]:
%spark
val jointure=spark.sql("SELECT BOTS_P.flightDate, ref_AIRP_ID.Description as Airport, ref_AIRL_ID.Description as Airline FROM BOTS_P, ref_AIRP_ID, ref_AIRL_ID where BOTS_P.OriginAirportID=ref_AIRP_ID.code and BOTS_P.REporting_Airline=ref_AIRL_ID.code")

In [6]:
%spark
val jointure=spark.sql("SELECT BOTS_P.flightDate, ref_AIRP_ID.Description as Airport, ref_AIRL_ID.Description as Airline FROM BOTS_P, ref_AIRP_ID, ref_AIRL_ID where BOTS_P.OriginAirportID=ref_AIRP_ID.code and BOTS_P.REporting_Airline=ref_AIRL_ID.code")

In [7]:
%spark
jointure.show()

In [8]:
%spark
val test=spark.sql("select flightdate, originairportid,reportingairline from bots_p").show(10)

In [9]:
%spark
val test=spark.sql("select flightdate, originairportid,reporting_airline from bots_p").show(10)

In [10]:
%spark
val test=spark.sql("select flightdate, originairportid,dot_id_reporting_airline from bots_p").show(10)

In [11]:
%spark


val jointure=spark.sql("SELECT BOTS_P.flightDate, ref_AIRP_ID.Description as Airport, ref_AIRL_ID.Description as Airline FROM BOTS_P, ref_AIRP_ID, ref_AIRL_ID where BOTS_P.OriginAirportID=ref_AIRP_ID.code and BOTS_P.dot_id_Reporting_Airline=ref_AIRL_ID.code")
jointure.show(10)

In [12]:
%spark
val jointure=spark.sql("SELECT BOTS_P.Month, ref_AIRP_ID.Description as Airport, ref_AIRL_ID.Description as Airline FROM BOTS_P, ref_AIRP_ID, ref_AIRL_ID where BOTS_P.OriginAirportID=ref_AIRP_ID.code and BOTS_P.dot_id_Reporting_Airline=ref_AIRL_ID.code")
jointure.show(10)

In [13]:
%spark
val jointure=spark.sql("SELECT BOTS_P.Month, ref_AIRP_ID.Description as Airport, ref_AIRL_ID.Description as Airline FROM BOTS_P, ref_AIRP_ID, ref_AIRL_ID where BOTS_P.OriginAirportID=ref_AIRP_ID.code and BOTS_P.dot_id_Reporting_Airline=ref_AIRL_ID.code")
jointure.show(100)

In [14]:
%spark
jointure.write.createTempview("TmpJ")

In [15]:
%spark
jointure.write.createTempView("TmpJ")

In [16]:
%spark
jointure.createTempView("TmpJ")

In [17]:
%spark
val sqlDF = spark.sql("SELECT * FROM TmpJ")
sqlDF.show(100)

In [18]:
%spark
val sqlDF = spark.sql("SELECT *, count(Airport) as NB_Airport FROM TmpJ group by Airline, Month, Airport")
sqlDF.show(100)

In [19]:
%spark

In [20]:
%spark
val sqlDF = spark.sql("SELECT *, count(Airport) as NB_Airport FROM TmpJ group by Airport, Airline, Month")
sqlDF.show(100)

In [21]:
%%sql
SELECT *, count(Airport) as NB_Airport FROM TmpJ group by Airport, Airline, Month

In [22]:
%%sql
select distinct Airline, count(Airport) from TMPJ group by Airport, Airline

In [23]:
%%sql
select distinct Airline, count(Airport) from TMPJ where Month=1 group by Airport, Airline

In [24]:
%spark
val jointure=spark.sql("SELECT BOTS_P.Month, BOTS_P.DayOfMonth, ref_AIRP_ID.Description as Airport, ref_AIRL_ID.Description as Airline FROM BOTS_P, ref_AIRP_ID, ref_AIRL_ID where BOTS_P.OriginAirportID=ref_AIRP_ID.code and BOTS_P.dot_id_Reporting_Airline=ref_AIRL_ID.code")
jointure.createOrReplaceTempView("TmpJ")

In [25]:
%%sql
select distinct Airline, count(Airport) from TMPJ where Month=1 and DayOfMonth=1 group by Airport, Airline

In [26]:
%%sql